$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import '../../bower_components/sass-bootstrap/lib/bootstrap';
@import '_colors.scss';
@import '_header.scss';
@import '_events.scss';
@import '_activeEvents.scss';


/* Space out content a bit */
body {
	background-color: $background-color;
    padding-top: 20px;
    padding-bottom: 20px;
}

p, h1, h2, h3, h4, h5, h6, h6, ul, li { 
    font-family: 'Droid Sans', 'Lucida Grande', Tahoma, sans-serif;
}

