$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import '../../bower_components/sass-bootstrap/lib/bootstrap';
@import '_colors.scss';
@import '_header.scss';
@import '_events.scss';


/* Space out content a bit */
body {
	background-color: $background-color;
    padding-top: 20px;
    padding-bottom: 20px;
}

