<div ng-include="'views/header.html'"></div>
  <section class="event-group" ng-repeat="(name,e) in events">
    <h2>{{ name }}</h2>
    <hr/>
    <div class="row">
      <div id="mason-container" masonry="true">
        <div ng-class="{tan: !($index%2), green:($index%2)}" class="masonry-brick col-md-4 col-xs-4 item" ng-repeat="event in e" >
          <h4>{{ event.title }}</h4>
          <p ng-bind-html="event.summary"></p>
          <a class="pull-right" href="#/events/{{ event.meta.group }}/{{ event.meta.index }}">More Info...</a>
      </div>
    </div>
    <br/>
    <br/>
  </section>
</div> 
