<div ng-include="'views/header.html'"></div>
  <section ng-repeat="(name,e) in events">
    <h2>{{ name }}</h2>
    <hr/>
    <div class="row">
		<div id="mason-container" masonry column-width: '100'>
      <div class="masonry-brick col-md-3 col-xs-6" ng-repeat="event in e">
        <h4>{{ event.title }}</h4>
        <p ng-bind-html="event.summary"></p>
        <a href="#/events/{{ event.meta.group }}/{{ event.meta.index }}">More Info...</a>
      </div>
    </div>
    <br/>
    <br/>
  </section>
</div> 
